@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Playfair+Display+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#FFB14A, #C97E91, rgb(139, 226, 220), #C9E491, #FFE976, #D6C3FF, #CDFFFF);
  font-family: arial;
  font-weight: 900;
  /* cursor: url(../assets/favicon.png), auto; */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  border-bottom: 2.5px solid #2B3A4C;
  margin: 0px;
  background-color: #FFB14A
}

/* link styling  */
.active {
  font-style: italic;
  color: #FFEBF9
}

a:hover, mg-link:hover {
  color: #FFEBF9;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navitem, a {
  list-style: none;
  font-size: 45px;
  color: #2B3A4C;
  text-decoration: none;
}

/* making the landing page section full height of page */
.hero {
  height: 100vh;
}

.hero, .about, .projects, .skills, .experience, .sayhello {
  width: 100%;
  display: flex;
}

/* hiding mobile title */
.mobile-title {
  display: none;
}

/* adding padding the height of the navbar to ensure all sections take up 100vh of screen */
.page-section {
  padding: 74.5px 0px;
}

.wrapper {
  justify-content: center;
  align-self: center;
  margin: 200px;
}

.hero-text {
  color: #2B3A4C;
  font-size: 45px;
  line-height: 55px;
  margin: 30px 0px 0px 0px;
}

.custom-link {
  text-decoration: underline;
}

.mg-link {
  font-weight: 900;
  text-decoration: underline;
  font-size: 20px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.flower1 {
  height: 130px;
  position: absolute;
  margin: 100px 0px 0px 350px;
  animation: fadein 1s;
}

.flower1-about {
  height: 130px;
  position: absolute;
  margin: 50px 0px 0px 50px;
}

.flower2 {
  height: 180px;
  position: absolute;
  margin: 100px 0px 0px 1200px;
  animation: fadein 4s;
}

.flower2-about {
  height: 180px;
  position: absolute;
  margin: 400px 0px 0px 1200px;
}

.flower3 {
  height: 170px;
  position: absolute;
  margin: 500px 0px 0px 10px;
  animation: fadein 2s;
}

.flower4 {
  height: 170px;
  position: absolute;
  margin: 450px 0px 0px 900px;
  animation: fadein 3s;
}

.title {
  font-size: 45px;
  color: #2B3A4C;
  margin: 80px 0px, 0px, 0px;
  display: flex;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.about-text-wrapper {
  width: 500px;
  margin: 0px 40px;
  align-self: center;
}

.test-border {
  border: 1px solid blue;
}

.about-text {
  font-family: arial;
  font-weight: 900;
  color: #2B3A4C;
  font-size: 20px;
}

.first-line {
  /* background-color: #2B3A4C; */
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Homemade Apple', cursive; */
  /* font-size: 25px; */
  font-weight: bolder;
  /* color: #FFEBF9; */
}

.profile-pic {
  height: 480px;
}

.small-text {
  font-family: arial;
  font-weight: 900;
  color: #2B3A4C;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.skill-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 110px;
}

.skill-box {
  text-align: center;
  margin: 0 0 25px 0;
}

.icon {
  margin: 40px 50px 15px 50px;
  font-size: 75px;
  color: #2B3A4C;
  display: flex;
}

.skills-title {
  font-size: 15px;
  color: #2B3A4C;
}

.projects-toggle-buttons {
  display: flex;
  justify-content: center;
}

.web-apps-button, .design-work-button {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 900;
  /* border-radius: 10px; */
  padding: 12px;
}

.web-apps-button:hover, .design-work-button:hover {
  cursor: pointer;
}

.active-button {
  border: 1px solid #2B3A4C;
  background-color: #2B3A4C;
  color: #FFEBF9;
  /* font-style: italic; */
}

.inactive-button {
  border: 1px solid rgba(43, 58, 76, 0.300);
  background-color: rgba(43, 58, 76, 0.300);
  color: rgba(255, 235, 249, 0.493);
}

.hide {
  display: none;
}

.img-info {
  position: absolute;
  font-size: 15px;
  color: #2B3A4C;
  margin: 15px;
  padding-top: 131.5px;
  padding-bottom: 131.5px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 235, 249, 0.897);
}

.missgloria {
  padding-left: 90.5px;
  padding-right: 90.5px;
}

.everpress {
  padding-left: 94.5px;
  padding-right: 94px;
}

.presha {
  padding-left: 108.5px;
  padding-right: 109px;
}

.hiya {
  padding-left: 123px;
  padding-right: 123px;
}

.femme {
  padding-left: 75.5px;
  padding-right: 76px;
}

.brainchild {
  padding-left: 93.5px;
  padding-right: 93.5px;
}

.img-info:hover {
  opacity: 1;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 80px;
}

.design-work-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.design-image {
  width: 280px;
  margin: 15px;
  text-align: center;
  animation: fadein 1s
}

.project-box {
  display: flex;
  justify-content: center;
  margin: 10px;
  animation: fadein 1s;
}

.project-img {
  width: 450px;
  margin: 20px 0;
  align-self: center;
}

.project-text {
  margin: 0 0 0 20px;
  align-self: center;
  color: #2B3A4C;
}

.project-title {
  font-size: 23px;
}

.project-skills {
  font-size: 15px;
}

.project-info {
  font-size: 15px;
  margin: 0 0 5px 0;
  font-weight: 500;
  line-height: 20px;
}

.project-link {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #2B3A4C;
  border-radius: 10px;
  padding: 6px;
  margin: 0 5px 5px 0;
}

/* .flower2-projects {
  height: 110px;
  position: absolute;
  margin: 10px 0px 0px 1300px;
}

.flower4-projects {
  height: 120px;
  position: absolute;
  margin: 300px 0px 0px 1000px;
} */

.desktop-title {
  color: #2B3A4C;
  margin: 0 0 10px 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
  text-align: center;
}

.experience-wrapper {
  margin: 35px 150px;
}

.experience-block {
  margin: 25px 0;
  color: #2B3A4C;
}

.experience-title {
  font-size: 23px;
  margin: 15px 0px;
}

.experience-date {
  font-size: 13px;
}

.experience-heading {
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #2B3A4C;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
}

.experience-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  margin: 15px 0;
}

.experience-line {
  border: 0.5px solid #2B3A4C;
}

.flower1-hello2 {
  height: 480px;
  position: absolute;
  margin: 0px 0px 0px 0px;
  transform: rotate(-50deg);
}

.flower1-hello {
  height: 400px;
  position: absolute;
  margin: 200px 0px 0px 1000px;
}

.hello-wrapper {
  text-align: center;
  margin: 200px;
}

.hello-title {
  font-size: 45px;
  color: #2B3A4C;
  margin: 0 0 10px 0;
}

.hello-title2 {
  /* font-family: 'Homemade Apple', cursive; */
  font-size: 45px;
  color: #2B3A4C;
  margin: 0 0 10px 0;
}

.link-image {
  height: 70px;
}

.link-image:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.start-button {
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #2B3A4C;
  border-radius: 10px;
  padding: 7px;  
}

.start-button-wrapper, .contact-links {
  display: flex;
  justify-content: center;
}

.start-button:hover, .project-link:hover, .experience-heading:hover {
  background-color: #2B3A4C;
  color: #FFEBF9;
}


/* Large screens */
@media only screen and (min-width: 1500px) {

  /* .flower4 {
    height: 170px;
    position: absolute;
    margin: 600px 0px 0px 1500px;
  }

  .flower1-hello {
    height: 400px;
    position: absolute;
    margin: 500px 0px 0px 1500px;
  } */

  .small-text, .project-info, .project-info, .flower1, .flower2, .flower1-hello, .flower1-hello2, .flower3, .flower4, .flower4-experience, .flower2-about, .flower2-projects, .flower4-projects, .flower3-experience, .flower1-about {
    display: none;
  }

  /* hiding mobile title */
  .mobile-title {
    display: none;
  }

}

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  
  .mobile-title, .flower2, .flower2-about, .flower2-projects, .flower4-experience {
    display: none;
  }

  .navitem, a {
    font-size: 40px;
  }

  .flower1 {
    height: 130px;
    position: absolute;
    margin: 80px 0px 0px 600px;
  }

  .flower1-hello {
    height: 300px;
    position: absolute;
    margin: 200px 0px 0px 800px;
  }

  .flower1-hello2 {
    height: 350px;
    position: absolute;
    margin: 0px 0px 0px 0px;
    transform: rotate(-50deg);
  }
  
  .icon {
    margin: 40px 45px 15px 45px;
    font-size: 65px;
    color: #2B3A4C;
    display: flex;
  }

}
  
/* Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  .mobile-title, .small-text, .project-info, .flower2, .flower1, .flower1-hello, .flower1-hello2, .flower3, .flower4, .flower4-experience, .flower2-about, .flower2-projects, .flower4-projects, .flower3-experience, .flower1-about {
    display: none;
  }

  .navitem, a {
    font-size: 28px;
  }

  .hero-text, .custom-link {
    font-size: 47px;
    line-height: 60px;
  }

  .page-wrapper {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .profile-pic {
    height: 500px;
    align-self: center;
    margin: 0 0 25px 0;
  }

  .about-text-wrapper {
    font-size: 15px;
    margin: 25px 0 0 0;
  }

  .skill-icons {
    margin: 0 20px;
  }

  .icon {
    margin: 30px 40px 5px 40px;
    font-size: 70px;
    color: #2B3A4C;
    display: flex;
  }

  .links {
    display: flex;
  }

}
  
/* Smartphones in landscape mode */
@media only screen and (min-width: 421px) and (max-width: 767px) {

  nav, .small-text, .project-info, .flower1, .flower2, .flower1-hello, .flower1-hello2, .flower3, .flower4, .flower4-experience, .flower2-about, .flower2-projects, .flower4-projects, .flower3-experience, .flower1-about, .projects-toggle-buttons {
    display: none;
  }

  /* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .flower1 {
    height: 110px;
    margin: 5px;
    text-align: center;
    animation: rotation 6s infinite linear;
  } */

  /* showing mobile title */
  .mobile-title {
    display: inline;
    text-align: center;
    font-size: 25px;
    font-family: arial;
    /* font-family: 'Homemade Apple', cursive; */
    color: #2B3A4C;
    /* color: #FFEBF9; */
    /* background-color: #2B3A4C; */
    margin: 15px;
    padding: 5px;
    align-self: center;
  }

  .mobile-wrapper {
    display: flex;
    justify-content: center;
  }

  .page-section {
    padding: 15px;
  }

  .hero-text, .custom-link {
    font-size: 38px;
    line-height: 50px;
  }

  .wrapper {
    margin: 100px;
  }

  .profile-pic {
    align-self: center;
  }

  .page-wrapper {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .about-text-wrapper {
    margin: 25px;
    font-size: 20px;
    width: 450px;
  }

  .project-img {
    width: 300px;
  }

  .links {
    display: flex;
  }

  .skill-icons {
    margin: 0 50px;
  }

  .icon {
    margin: 30px 40px 5px 40px;
    font-size: 70px;
    color: #2B3A4C;
    display: flex;
  }
  
  .projects-wrapper {
    margin: 0px 20px;
    flex-direction: row;
  }

  .project-box {
    flex-direction: row;
  }

  .experience-wrapper {
    margin: 0 80px;
  }

  .hello-wrapper {
    margin: 100px;
  }

}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {

  nav, .small-text, .project-info, .project-info, .flower1, .flower2, .flower1-hello, .flower1-hello2, .flower3, .flower4, .flower4-experience, .flower2-about, .flower2-projects, .flower4-projects, .flower3-experience, .flower1-about, .projects-toggle-buttons {
    display: none;
  }

  /* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .flower1 {
    height: 110px;
    margin: 5px;
    text-align: center;
    animation: rotation 6s infinite linear;
  } */

  /* showing mobile title */
  .mobile-title {
    display: inline;
    text-align: center;
    font-size: 25px;
    font-family: arial;
    /* font-family: 'Homemade Apple', cursive; */
    color: #2B3A4C;
    /* color: #FFEBF9; */
    /* background-color: #2B3A4C; */
    margin: 20px;
    padding: 5px;
    align-self: center;
  }

  .mobile-wrapper {
    display: flex;
    justify-content: center;
  }

  .page-section {
    padding: 15px;
  }

  .hero-text, .custom-link {
    font-size: 38px;
    line-height: 50px;
  }

  .wrapper {
    margin: 60px;
  }

  .page-wrapper {
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }

  .about-text-wrapper {
    margin: 30px 55px;
    width: 350px;
  }

  .about-text {
    font-size: 16px;
  }
  
  .links {
    display: flex;
  }
  
  .skill-icons {
    margin: 0 5px;
  }
  
  .icon {
    margin: 20px 30px 5px 30px;
    font-size: 50px;
    color: #2B3A4C;
    display: flex;
  }
  
  .project-img {
    width: 300px;
  }

  .projects-wrapper {
    margin: 0px 20px;
  }

  .project-text {
    margin: 0;
  }

  .project-box {
    display: inline;
  }

  .experience-wrapper {
    margin: 10px 35px;
  }

  .hello-wrapper {
    margin: 50px;
  }

}